@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Condensed Light Italic';
    src: url('fonts/RobotoCondensed-LightItalic.ttf');
}

*{
    -fx-font-family: 'Roboto Condensed';
}

#viewBtn:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill : #1a266b;
    -fx-font-size: 22px;
}
#userBtn:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill : #1a266b;
    -fx-font-size: 22px;
}

#pushBtn{
    -fx-background-color : #e0a800;
    -fx-text-fill:#FFFFFF;
    -fx-font-weight : bold;
    -fx-font-size:14;
    -fx-cursor : hand;
    
}
#pushBtn:hover{
    -fx-background-color : #FFFFFF;
-fx-text-fill:#e0a800;
-fx-font-weight : bold;
-fx-font-size:14;
-fx-cursor : hand;
}