@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Condensed Light Italic';
    src: url('fonts/RobotoCondensed-LightItalic.ttf');
}

*{
    -fx-font-family: 'Roboto Condensed';
}

#employeeBtn:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill : #1a266b;
}
#tasksBtn:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill : #1a266b;
}
#completeBtn:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill : #1a266b;
}
.addBtn{
    -fx-background-color : #28a745;
    -fx-text-fill:#FFFFFF;
    -fx-font-weight : bold;
    -fx-font-size:14;
    -fx-cursor : hand;
}

.addBtn:hover{
    -fx-background-color : #FFFFFF;
    -fx-text-fill:#28a745;
    -fx-font-weight : bold;
    -fx-font-size:14;
    -fx-cursor : hand;
}

.removeBtn{
    -fx-background-color : #bd2130;
    -fx-text-fill:#FFFFFF;
    -fx-font-weight : bold;
    -fx-font-size:14;
    -fx-cursor : hand;
}
.removeBtn:hover{
    -fx-background-color : #FFFFFF;
    -fx-text-fill:#bd2130;
    -fx-font-weight : bold;
    -fx-font-size:14;
    -fx-cursor : hand;
}